[submodule "unity.meta.backend"]
	path = unity.meta.backend
	url = https://github.com/UnioGame/unity.meta.backend.git
[submodule "unigame.game.features"]
	path = unigame.game.features
	url = https://github.com/UnioGame/unigame.game.features.git
[submodule "unigame.googlespreadsheets"]
	path = unigame.googlespreadsheets
	url = https://github.com/UnioGame/UniGame.GoogleSpreadsheets.git
[submodule "leoecs.proto"]
	path = leoecs.proto
	url = https://git.kontora.games/modules/leoecs.proto.git
[submodule "unigame.leoecs.proto.features"]
	path = unigame.leoecs.proto.features
	url = https://github.com/UnioGame/UniGame.LeoEcs.Proto.Features.git
[submodule "unigame.leoecs.proto.tools"]
	path = unigame.leoecs.proto.tools
	url = https://github.com/UnioGame/UniGame.LeoEcs.Proto.Tools.git
[submodule "FluentFTP"]
	path = FluentFTP
	url = https://github.com/UnioGame/FluentFTP.git
[submodule "kd.tree"]
	path = kd.tree
	url = https://github.com/UnioGame/kd.tree.git
[submodule "unigame.gamedb"]
	path = unigame.gamedb
	url = https://github.com/UnioGame/UniGame.GameDB.git
[submodule "unigame.localization"]
	path = unigame.localization
	url = https://github.com/UnioGame/UniGame.Localization.git
[submodule "unigame.multiscenes"]
	path = unigame.multiscenes
	url = https://github.com/UnioGame/MultiScenes.git
[submodule "unigame.unibuild"]
	path = unigame.unibuild
	url = https://github.com/UniGameTeam/UniBuild.git
[submodule "unigame.buildcommands"]
	path = unigame.buildcommands
	url = https://github.com/UnioGame/UnioGame.UniBuildCommands.git
