[submodule "unity.meta.backend"]
	path = unity.meta.backend
	url = https://github.com/UnioGame/unity.meta.backend.git
[submodule "unigame.game.features"]
	path = unigame.game.features
	url = https://github.com/UnioGame/unigame.game.features.git
[submodule "unigame.googlespreadsheets"]
	path = unigame.googlespreadsheets
	url = https://github.com/UnioGame/UniGame.GoogleSpreadsheets.git
[submodule "leoecs.proto"]
	path = leoecs.proto
	url = https://git.kontora.games/modules/leoecs.proto.git
[submodule "unigame.leoecs.proto.features"]
	path = unigame.leoecs.proto.features
	url = https://github.com/UnioGame/UniGame.LeoEcs.Proto.Features.git
[submodule "unigame.leoecs.proto.tools"]
	path = unigame.leoecs.proto.tools
	url = https://github.com/UnioGame/UniGame.LeoEcs.Proto.Tools.git
[submodule "FluentFTP"]
	path = FluentFTP
	url = https://github.com/UnioGame/FluentFTP.git
[submodule "kd.tree"]
	path = kd.tree
	url = https://github.com/UnioGame/kd.tree.git
[submodule "unigame.gamedb"]
	path = unigame.gamedb
	url = https://github.com/UnioGame/UniGame.GameDB.git
[submodule "unigame.localization"]
	path = unigame.localization
	url = https://github.com/UnioGame/UniGame.Localization.git
[submodule "unigame.multiscenes"]
	path = unigame.multiscenes
	url = https://github.com/UnioGame/MultiScenes.git
[submodule "unigame.unibuild"]
	path = unigame.unibuild
	url = https://github.com/UniGameTeam/UniBuild.git
[submodule "unigame.buildcommands"]
	path = unigame.buildcommands
	url = https://github.com/UnioGame/UnioGame.UniBuildCommands.git
[submodule "unigame.viewsystem"]
	path = unigame.viewsystem
	url = https://github.com/UniGameTeam/UniGame.ViewSystem.git
[submodule "unigame.addressabletools"]
	path = unigame.addressabletools
	url = https://github.com/UniGameTeam/UniGame.AddressableTools.git
[submodule "unigame.context"]
	path = unigame.context
	url = https://github.com/UniGameTeam/UniGame.Context.git
[submodule "unigame.rx"]
	path = unigame.rx
	url = https://github.com/UniGameTeam/UniGame.Rx.git
[submodule "unigame.typeconverters"]
	path = unigame.typeconverters
	url = https://github.com/UniGameTeam/UniGame.TypeConverters.git
[submodule "unigame.core"]
	path = unigame.core
	url = https://github.com/UniGameTeam/UniGame.Core.git
[submodule "unigame.editortools"]
	path = unigame.editortools
	url = https://github.com/UniGameTeam/UniGame.EditorTools.git
[submodule "unigame.ads"]
	path = unigame.ads
	url = https://github.com/UnioGame/unigame.ads.git
[submodule "unigame.analytics"]
	path = unigame.analytics
	url = https://github.com/UnioGame/game.analytics.git
[submodule "naninovel"]
	path = naninovel
	url = https://git.kontora.games/modules/naninovel.git
[submodule "google.api.v4"]
	path = google.api.v4
	url = https://github.com/UnioGame/google.api.v4.git
[submodule "unigame.symlinker"]
	path = unigame.symlinker
	url = https://github.com/UnioGame/UniGame.SymLinker.git
